html {
  height: 0;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.6rem; 
  height: 100%; 
}

.wrapper {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  @include media-laptop {
    width: 100%;
  }    
}
