// colors

$color-main: #00b4cc;
$color-header: #ffffff;
$color-search: #00b4cc;
$color-search-hover: #0098ac;
$color-link: #b95438;
$color-shadow: #000000;
$color-error: #ff4f1e;

// $color-main: #78c2ad;
$color-second: #78c2ad;

$color-link-active: #ffffff;
$color-burger: #000000;

$color-gradient1: #d4fc79;
$color-gradient2: #96e6a1;
$color-play1: #d4fc79;
$color-play2: #FF7851;
$color-border2: #ffffff;


$color-background-card: #ffffff;
$color-rotate-card: #a455fd;
$color-correct: #00ff40;

// elements size
$menu-height: 80px;


$container-size-l: 1020px;
$menu-width: 250px;
$laptop-card-size: 40%;
$tablet-card-size: 49%;
$mobile-card-size: 70%;

// media
$content-width: 1019px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
