// colors
$color-main: #00b4cc;
$color-header: #ffffff;
$color-search: #00b4cc;
$color-search-hover: #0098ac;
$color-shadow: #000000;
$color-keyboard-shadow: #a8dde9;
$color-error: #ff4f1e;
$color-link-active: #000000;
$color-link-hover: #b95438;
$color-btn-text: #ffffff;

// elements size
$menu-height: 80px;
$container-size-l: 1020px;

// media
$content-width: 1200px;
$keyboard-width: 960px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

