.footer {
  width: 100%;
  background-color: $color-main;
  @media screen and (min-height: 900px) {
    position: fixed;
    bottom: 0;
  }
}

.footer-container {
  width: 100%;
  display: flex;
  height: $menu-height;
  padding: 0 30px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center; 
}

.footer__link {
  font-weight: 700;
  text-decoration: none;
  color: $color-link-active;
  &:hover {    
    color: $color-link-hover;
  }
}