
// .glide__slide {
//   // border: 1px solid black;
//   // text-align: center;
// }
// 
// #glide1,
// #glide2 {
//   .glide__slide {
//     // height: 100px;
//     // line-height: 100px;
//   }
// } 

// .glide__arrow {
//   background-color: red;
//   border: none;
//   font-size: 11px;
  
//   &--left {
//     left: 15px;
//   }
  
//   &--right {
//     right: 15px;
//   }
// }

.glide__bullets {
  bottom: -40px;
}

.glide__bullet {
  background-color: $color-search;
  &--active {
    background-color: $color-link;
  }
  &--active:focus, --active:hover {
    background-color: $color-link;
  }
}