.main {
  padding-top: 50px;
  min-height: 800px;
  height: calc(100% - 80px);
  box-sizing: border-box;
  background: $color-gradient2;
  background: -webkit-linear-gradient(to right, $color-gradient1, $color-gradient2); 
  background: linear-gradient(to right, $color-gradient1, $color-gradient2);
}

.search-bar {
  width: 100%;
  display: flex;
  position: relative;

  @include media-laptop {
    width: 94%;
    margin: 0 auto;
  }
}

.search-input {
  width: 100%;
  height: 60px;   
  padding: 0 90px 0 60px;
  font-family: "Comfortaa", sans-serif;
  font-size: 2rem;
  
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  border-right: none;
  border: 3px solid #00b4cc;

  &:focus, 
  &:hover {
    color: #00b4cc;
  }

  &::-webkit-search-cancel-button {
    cursor: pointer;
  }

  @include media-keyboard {
    padding-right: 10px;
  }
}

.search-btn {
  height: 60px;
  border: 1px solid $color-search;
  background: $color-search;
  text-align: center;
  color: $color-btn-text;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  transition: all 250ms ease-in-out;

  &:hover {
    background: $color-search-hover;
    border-color: $color-search-hover;
  }
}

.loupe {
  position: absolute;
    top: 7px;
    left: 10px;
    width: 25px;
    height: 25px;
    margin-top: 0;
    border-width: 15px;
    border: 3px solid $color-search;
    background-color: transparent;
    border-radius: 50%;

  &::after {    
    display: block;
    content: "";
    width: 20px;
    height: 3px;
    position: absolute;
    top: 31px;
    left: 14px;
    background-color: $color-search;
    border-radius: 10px;
    transform: rotateZ(52deg);
  }
}

.loupe-searching {
  animation: seconds infinite 1s;
}

@keyframes seconds {
  0% {
      transform: scale(1);
  }
  17% {
      transform: scale(.85);
  }
  33% {
      transform: scale(.65);
  }
  50% {
    transform: scale(.5);
  }
  66% {
    transform: scale(.65);
  }
  83% {
    transform: scale(.85);
  }
  100% {
      transform: scale(1);
  }
}

.error-bar {
  margin: 20px 0 30px;

  &__text {
    max-width: 90%;
    height: 30px;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    color: $color-error;
    @extend %text-overflow;
  }
}

.keyboard-ico {
  display: inline-block;
  width: 61px;
  height: 57px;
  position: absolute;
  bottom: 2px;
  right: 86px;
  content: "";
  background: url("../img/icons/keyboard.svg") no-repeat ;
  background-size: contain;
  cursor: pointer;
  @extend %transition;

  &:hover {
    transform: scale(1.1);
  }

  @include media-keyboard {
    display: none;
  }
}

.keyboard-wrapper {
  width: 930px;
  height: 300px;
  padding: 5px 0;
  display: flex;
  position: absolute;
  z-index: 20;
  top: 111px;
  right: calc((100% - 930px) / 2);
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #4a5049;
  -webkit-box-shadow: 0px 0px 11px 10px $color-keyboard-shadow; 
  box-shadow: 0px 0px 11px 10px $color-keyboard-shadow;
  opacity: 1;
  @extend %transition;

  &__disappear {
    height: 0;
    opacity: 0;
  }

  &__hide {
    display: none;
  }
  
  @include media-keyboard {
    display: none;
  }
}