@mixin media-laptop {
  @media (max-width: $content-width) { @content; }
}

@mixin media-keyboard {
  @media (max-width: $keyboard-width) { @content; }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content; }
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content; }
}

@mixin base-card {
  width: 29%;
  height: 200px;
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px $color-shadow,
    5px 5px 15px 5px #00000000;
  box-shadow: 0px 10px 13px -7px $color-shadow, 5px 5px 15px 5px #00000000;
  @extend %transition;
}

@mixin base-card-size {
  width: 29%;
  height: 200px;
}

@mixin uprise {
  opacity: 1;
  visibility: visible;    
}
