.card__container {
  @include base-card-size;
  perspective: 600px;
  margin: 20px;
  user-select: text;
  @include media-laptop {
    width: 30%;
  }
  @include media-tablet {
    width: 47%;
  }
  @include media-mobile {
    width: 70%;
  }
}

.card-uprise {
  @include uprise;
  @extend %transition;
}

.card__container_disable {
  opacity: 0.5;
  filter: drop-shadow(0 0 5px $color-correct);  
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
  @extend %transition;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card__front, 
.card__back {
  @include base-card;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card__front:hover:not(.no-hover) {
  transform: scale(1.05);
  @extend %transition;
}

.card__back {
  background-image: linear-gradient(180deg, $color-gradient1 0%, $color-gradient2 73%, #ffffff 73.1% #ffffff 100%);
}

.no-hover {
  top: 0;
}

.card__image {
  display: block;
  width: 100%;
  height: 73%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  @extend %transition;
}

.card__image_play {
  height: 100%;
  border-radius: 10px;
  @extend %transition;
}

.card__rotate {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(100% - 43px);
  right: 20px;
  user-select: none;
  &:hover {
    filter: drop-shadow(0 0 3px $color-rotate-card);
  }
}

.card__word {
  margin: 13px auto 0;
  text-align: center;
  @extend %transition;
}

.card__word_play {
  @extend %hide;
  height: 0;
  font-size: 0;
  @extend %transition;
}

.card__front {
  background: $color-background-card;
}

.card__front_play {
  height: 100%;
}

.card__back {
  transform: rotateY(180deg);
}