// @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import "constants";
@import "placeholders";
@import "mixins";
@import "base";
@import "header";
@import "main";

@import "footer";
@import "moviecard";
@import "slider";